.subs_form {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.subs_form--loading::after {
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  content: "";
  z-index: 2;
}

#subs_submit {
  position: relative;
  z-index: 5;
}