$light-grey: #bcbcbc

$dark-grey: #727377

$black: #3b3b3b

$primary: #f58a3c
$secondary: #ca7346

$light-brown: #dacfc9
$dark-brown: #caafa1

$dark-gradient: linear-gradient(to right, #ca7246 0%,#df7b3d 40%,#f48534 62%,#fab989 100%)

$light-gradient: linear-gradient(135deg, #fecb2a 0%,#fecb2a 13%,#faa92f 38%,#f79931 70%,#f48534 100%)

=shadow-0
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.42), -3px 8px 12px 0 rgba(0,0,0,0.32)

=shadow-1
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.30), -1px 16px 20px 0 rgba(0,0,0,0.12)

=shadow-2
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.30), -1px 4px 6px 0 rgba(0,0,0,0.12)

=anti-aliased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
